<div class="card border-left-primary shadow h-100 py-3">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <div class="text-xs font-weight-bold text-primary mb-1">
                    <h4 style="padding-left:5%;">{{title}}</h4>
                </div>
            </div>
            <div class="col-auto" style="padding-right:5%;">
                <i [class]="icon"></i>
            </div>
        </div>
    </div>
</div>