<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <i class="fas fa-cogs"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SA Admin<sup>1</sup></div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" style="padding-top:0px;" routerLink="dashboard">
            <i class="fa fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Student Section
    </div>

    <!-- Nav Item - Student Details -->
    <li class="nav-item">
        <a class="nav-link" routerLink="student-list">
            <i class="fas fa-info-circle"></i>
            <span>Students List</span>
        </a>
    </li>

    <!-- Nav Item - Enroll -->
    <li class="nav-item">
        <a class="nav-link" style="padding-top:0px;" routerLink="add-student">
            <i class="fas fa-user-plus"></i>
            <span>Add New Student</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Student Attendance Section
    </div>

    <!-- Nav Item - Student Attendance List -->
    <li class="nav-item">
        <a class="nav-link" routerLink="attendance-list">
            <i class="far fa-calendar-check"></i>
            <span>Attendance List</span></a>
    </li>

    <!-- Nav Item -Attendance Chart-->
    <li class="nav-item">
        <a class="nav-link" style="padding-top:0px;" routerLink="attendance-chart">
            <i class="fas fa-line-chart"></i>
            <span>Attendance Chart</span></a>
    </li>

    <!-- Divider  -->
    <hr class="sidebar-divider">

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SA Admin Pro</strong> is packed with premium features, components, and more!
        </p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro" target="_blank">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->