<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="mb-0 text-primary">Dashboard</h3>
</div>

<div class="row">
    <!--  Cards  -->
    <a routerLink="/student-list" class="col-xl-6 col-md-6 mb-4">
        <app-card title="Students List" icon="fas fa-info-circle fa-3x text-gray-500"></app-card>
    </a>
    <a routerLink="/add-student" class="col-xl-6 col-md-6 mb-4">
        <app-card title="Add New Student" icon="fas fa-user-plus fa-3x text-gray-500"></app-card>
    </a>
    <a routerLink="/attendance-list" class="col-xl-6 col-md-6 mb-4">
        <app-card title="Attendance List" icon="far fa-calendar-check fa-3x text-gray-500"></app-card>
    </a>
    <a routerLink="/attendance-chart" class="col-xl-6 col-md-6 mb-4">
        <app-card title="Attendance Chart" icon="fas fa-line-chart fa-3x text-gray-500"></app-card>
    </a>
</div>