<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="mb-0 text-primary">Attendance Records Student ID - {{studentId}}</h3>
    <a routerLink="/attendance-list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="far fa-calendar-check"></i> Attendance List</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Name : {{stuName}} - Roll : {{stuRoll}}</h5>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="dataTable" width="100%">
                <thead class="sticky-header thead-dark" style="text-align: center;">
                    <tr>
                        <th class="sticky-header" scope="col">Attendance Date</th>
                        <th class="sticky-header" scope="col">Attendance Status</th>
                        <th class="sticky-header" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngFor="let rec of attendanceList" >
                        <td>{{rec.attendanceDate}}</td>
                        <td *ngIf="rec.status">Present</td>
                        <td *ngIf="!rec.status">Absent</td>
                        <td>
                            <button [routerLink]="['/attendance-edit',studentId,rec.id]" class="btn btn-primary btn-sm mr-2">Edit</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteRecord(rec.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!attendanceList.length" class="text-center">No recs Available</div>
        </div>
    </div>
</div>
